<style>
    .del:checked + span{
        color:red;
    }

    .task-list{
        list-style: none;
    }
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
<body>
    <form method = "post" action = "/task/add">
        <label>Add Task</label>
        <input type="text" name="task" placeholder="Add Task">
        <input type="submit" value="Submit">
    </form>
    <%= title %>
    <form method="post" action="/task/delete">
        <ul class="task-list">
        <% tasks.forEach(function(task){ %>
            <li>
                <label>
                    <input type="checkbox" name='tasks' class="del" value ="<%= task%>"><span><%=task %></span>
                </label>
            </li>
            <%}) %>
        </ul>
        <input type = "submit" value="remove">
    </form>
</body>